@using PletkaRedka.Common
@model PletkaRedka.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = "Начална страница";
}

<div class="mb-xl-4">
    <a asp-controller="Posts" asp-action="Create" class="btn btn-block border-info">СЪЗДАЙ НОВА ТЕМА</a>
</div>

<div class="mb-xl-4">
    <a asp-controller="Galleries" asp-action="ShowGalleries" class="btn btn-block border-info">Галерия</a>
</div>

<div class="container align-center">
    <div class="row">
        @foreach (var item in Model.Categories)
        {
            <div class="media m-sm-1 col-sm-3">
                <img src="@item.ImageUrl" width="100" class="mr-2" alt="@item.Name">
                <div class="media-body">
                    <h5 class="mt-0"><a href="@item.Url">@item.Name</a></h5>
                    @item.Description
                </div>
            </div>
        }
    </div>
</div>
